body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 50px;
    margin-top: 0px;
    font-family: 'Sacramento',cursive;
    /* width: 10%; */
    /* margin: 0 auto 0 auto; */
}

p {
    font-size: 20px;
}

/* hr {
    border: dotted #EAF6F6 6px;
    width: 4px;
    border-bottom: none;
    margin: 50px auto;
} */

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

/* div {
    background-color: #E4F9F5;
} */

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
}

.middle-container {
    margin: 20px 0 30px;

}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 10px;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
} 

.myskill {
    position: relative;
    left: 10px;

}

.skill-row {
    width: 50%;
    margin: 100px auto 30px auto;
    text-align: left;
    line-height: 2;
}

.skill-second {
    position: relative;
    left: 350px;
    bottom: 110px;
}

.task1 {
    position: relative;
    right: 450px;
    width: 300px;
}

.task2 {
    position: relative;
    top: 50px;
    right: 550px;
    width: 300px;
}

.lgm-info {
    position: relative;
    left: 100px;
    bottom: 250px;
    text-align: left;
}
.profile {
    position: relative;
    /* padding-top: 1px;
    margin: 50px; */
    margin-top: 1px;
    margin-bottom: 20px;
}

.gif {
    width: 30%;
    border-radius: 100%;
    border: 3px solid;
    float: left;
    margin-right: 30px;
}

.thought {
    position: relative;
    padding: 50px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.contact {
    background-color: #66BFBF;
    color: #ffff;
    /* color: #66BFBF; */
    font-size: 50px;
    margin-top: 0px;
    position: relative;
    margin: 0px 0px 0px;
    padding-bottom: 50px;
    padding-top: 10px;
    font-family: 'Sacramento',cursive;
}

.form {
    position: relative;
    padding: 20px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.copyright-2 {
    background-color: #66BFBF;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-top: 10px;
}

.thanks {
    position: relative;
    top: 80px;
    padding-top: 0.1px;
}

.save-btn {
    background-color: #11cdd4;
    border: #058c91;
    border-radius: 12%;
    color: #ffffff;
    font-size: 15px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.message-btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
